<a href="https://colab.research.google.com/github/k10sj02/tidy-pydy-tuesday/blob/main/2025_01_21_himalayan_expeditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
!pip install simpledbf pandas pyreadstat dbfread

Requirement already satisfied: simpledbf in /usr/local/lib/python3.12/dist-packages (0.2.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: pyreadstat in /usr/local/lib/python3.12/dist-packages (1.3.1)
Requirement already satisfied: dbfread in /usr/local/lib/python3.12/dist-packages (2.0.7)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: narwhals>=1.47 in /usr/local/lib/python3.12/dist-packages (from pyreadstat) (2.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [87]:
!wget --user-agent="Mozilla/5.0" -O himalaya.zip "https://www.himalayandatabase.com/downloads/Himalayan%20Database.zip"

--2025-11-01 21:58:34--  https://www.himalayandatabase.com/downloads/Himalayan%20Database.zip
Resolving www.himalayandatabase.com (www.himalayandatabase.com)... 66.96.146.129
Connecting to www.himalayandatabase.com (www.himalayandatabase.com)|66.96.146.129|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42737250 (41M) [application/zip]
Saving to: ‘himalaya.zip’

himalaya.zip        100%[===================>]  40.76M  52.2MB/s    in 0.8s

2025-11-01 21:58:35 (52.2 MB/s) - ‘himalaya.zip’ saved [42737250/42737250]

In [88]:
import tempfile
import zipfile

extract_dir = tempfile.mkdtemp()

with zipfile.ZipFile("himalaya.zip", "r") as z:
    z.extractall(extract_dir)

extract_dir

'/tmp/tmpkc175r12'

In [89]:
import os
import glob

peaks_dbf = glob.glob(os.path.join(extract_dir, "**", "peaks.DBF"), recursive=True)[0]
exped_dbf = glob.glob(os.path.join(extract_dir, "**", "exped.DBF"), recursive=True)[0]

peaks_dbf, exped_dbf

('/tmp/tmpkc175r12/Himalayan Database/HIMDATA/peaks.DBF',
 '/tmp/tmpkc175r12/Himalayan Database/HIMDATA/exped.DBF')

In [90]:
from dbfread import DBF
import pandas as pd

peaks_records = list(DBF(peaks_dbf, load=True, char_decode_errors='ignore'))
exped_records = list(DBF(exped_dbf, load=True, char_decode_errors='ignore'))

peaks_temp = pd.DataFrame(peaks_records)
exped_temp = pd.DataFrame(exped_records)

In [91]:
himal_map = {
    0: "Unclassified",
    1: "Annapurna",
    2: "Api/Byas Risi/Guras",
    3: "Damodar",
    4: "Dhaulagiri",
    5: "Ganesh/Shringi",
    6: "Janak/Ohmi Kangri",
    7: "Jongsang",
    8: "Jugal",
    9: "Kangchenjunga/Simhalila",
    10: "Kanjiroba",
    11: "Kanti/Palchung",
    12: "Khumbu",
    13: "Langtang",
    14: "Makalu",
    15: "Manaslu/Mansiri",
    16: "Mukut/Mustang",
    17: "Nalakankar/Chandi/Changla",
    18: "Peri",
    19: "Rolwaling",
    20: "Saipal"
}

peaks_temp["HIMAL_FACTOR"] = peaks_temp["HIMAL"].map(himal_map).fillna("Unknown")

In [92]:
region_map = {
    0: "Unclassified",
    1: "Kangchenjunga-Janak",
    2: "Khumbu-Rolwaling-Makalu",
    3: "Langtang-Jugal",
    4: "Manaslu-Ganesh",
    5: "Annapurna-Damodar-Peri",
    6: "Dhaulagiri-Mukut",
    7: "Kanjiroba-Far West"
}

peaks_temp["REGION_FACTOR"] = peaks_temp["REGION"].map(region_map).fillna("Unknown")

In [93]:
phost_map = {
    0: "Unclassified",
    1: "Nepal only",
    2: "China only",
    3: "India only",
    4: "Nepal & China",
    5: "Nepal & India",
    6: "Nepal, China & India"
}

peaks_temp["PHOST_FACTOR"] = peaks_temp["PHOST"].map(phost_map).fillna("Unknown")

In [94]:
pstatus_map = {
    0: "Unknown",
    1: "Unclimbed",
    2: "Climbed"
}

peaks_temp["PSTATUS_FACTOR"] = peaks_temp["PSTATUS"].map(pstatus_map).fillna("Invalid")

In [95]:
season_map = {
    0: "Unknown",
    1: "Spring",
    2: "Summer",
    3: "Autumn",
    4: "Winter"
}

exped_temp["SEASON_FACTOR"] = exped_temp["SEASON"].map(season_map)

In [96]:
host_map = {
    0: "Unknown",
    1: "Nepal",
    2: "China",
    3: "India"
}

exped_temp["HOST_FACTOR"] = exped_temp["HOST"].map(host_map)

In [97]:
termreason_map = {
    0: "Unknown",
    1: "Success (main peak)",
    2: "Success (subpeak, foresummit)",
    3: "Success (claimed)",
    4: "Bad weather (storms, high winds)",
    5: "Bad conditions (deep snow, avalanching, falling ice, or rock)",
    6: "Accident (death or serious injury)",
    7: "Illness, AMS, exhaustion, or frostbite",
    8: "Lack (or loss) of supplies, support or equipment",
    9: "Lack of time",
    10: "Route technically too difficult, lack of experience, strength, or motivation",
    11: "Did not reach base camp",
    12: "Did not attempt climb",
    13: "Attempt rumored",
    14: "Other"
}

exped_temp["TERMREASON_FACTOR"] = exped_temp["TERMREASON"].map(termreason_map)

In [98]:
exped_tidy = exped_temp[exped_temp["YEAR"].astype(str).str.contains("202[0-4]")]
peaks_tidy = peaks_temp.copy()

In [99]:
peaks_tidy
exped_tidy

,EXPID,PEAKID,YEAR,SEASON,HOST,ROUTE1,ROUTE2,ROUTE3,ROUTE4,NATION,...,COMRTE,STDRTE,PRIMRTE,PRIMMEM,PRIMREF,PRIMID,CHKSUM,SEASON_FACTOR,HOST_FACTOR,TERMREASON_FACTOR
10416,EVER20101,EVER,2020,1,2,N Col-NE Ridge,,,,China,...,True,True,False,False,False,,2465291,Spring,China,Success (main peak)
10417,EVER20102,EVER,2020,1,2,N Col-NE Ridge,,,,China,...,True,True,False,False,False,,2465292,Spring,China,Success (main peak)
10418,EVER20103,EVER,2020,1,2,N Col-NE Ridge,,,,China,...,True,True,False,False,False,,2465293,Spring,China,Success (main peak)
10515,AMAD20301,AMAD,2020,3,1,SW Ridge,,,,Nepal,...,True,False,False,False,False,,2463299,Autumn,Nepal,Success (main peak)
10516,AMAD20302,AMAD,2020,3,1,SW Ridge,,,,USA,...,True,False,False,False,False,,2463299,Autumn,Nepal,Success (main peak)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11570,TKRE24301,TKRE,2024,3,1,E Face,,,,UK,...,False,False,False,False,False,,2465925,Autumn,Nepal,Success (main peak)
11571,TUKU24301,TUKU,2024,3,1,,,,,Italy,...,False,False,False,False,False,,5309,Autumn,Nepal,"Bad conditions (deep snow, avalanching, fallin..."
11575,YASA21301,YASA,2021,3,1,S Pillar (to 6000m),SE Ridge (to 6000m),,,Italy,...,False,False,False,False,True,TKPO21302,2464682,Autumn,Nepal,Other
11576,YASA22301,YASA,2022,3,1,"W Face-SW Ridge (up), E Ridge (down)",,,,Slovenia,...,False,False,False,False,False,,2465094,Autumn,Nepal,Success (main peak)
11577,YASA24301,YASA,2024,3,1,E Ridge,,,,Nepal,...,False,False,False,False,False,,2465951,Autumn,Nepal,Success (main peak)

In [100]:
with pd.option_context('display.max_columns', None):
  display(peaks_tidy.head())

,PEAKID,PKNAME,PKNAME2,LOCATION,HEIGHTM,HEIGHTF,HIMAL,REGION,OPEN,UNLISTED,TREKKING,TREKYEAR,RESTRICT,PHOST,PSTATUS,PEAKMEMO,PYEAR,PSEASON,PEXPID,PSMTDATE,PCOUNTRY,PSUMMITERS,PSMTNOTE,REFERMEMO,PHOTOMEMO,HIMAL_FACTOR,REGION_FACTOR,PHOST_FACTOR,PSTATUS_FACTOR
0,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,22356,12,2,True,False,False,,,1,2,"Other map altitudes:\r\n 6814m - HMG-MT, HMG...",1961,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",,None,W Face (High 126:5 May 1993)\r\nSE Face (High ...,Khumbu,Khumbu-Rolwaling-Makalu,Nepal only,Climbed
1,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,18471,12,2,True,False,False,,Opened in 2002,1,2,"Other map altitudes:\r\n 5630m - HMG-Finn, N...",1953,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",,None,None,Khumbu,Khumbu-Rolwaling-Makalu,Nepal only,Climbed
2,ANN1,Annapurna I,,Annapurna Himal,8091,26545,1,5,True,False,False,,,1,2,"Other map altitudes:\r\n 8091m - HMG-MT, HMG...",1950,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...,Annapurna,Annapurna-Damodar-Peri,Nepal only,Climbed
3,ANN2,Annapurna II,,Annapurna Himal,7937,26040,1,5,True,False,False,,,1,2,"Other map altitudes:\r\n 7937m - HMG-MT, HMG...",1960,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976),Annapurna,Annapurna-Damodar-Peri,Nepal only,Climbed
4,ANN3,Annapurna III,,Annapurna Himal,7555,24787,1,5,True,False,False,,,1,2,"Other map altitudes:\r\n 7555m - HMG-MT, HMG...",1961,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",,None,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...,Annapurna,Annapurna-Damodar-Peri,Nepal only,Climbed

In [101]:
with pd.option_context('display.max_columns', None):
  display(exped_tidy.head())

,EXPID,PEAKID,YEAR,SEASON,HOST,ROUTE1,ROUTE2,ROUTE3,ROUTE4,NATION,LEADERS,SPONSOR,SUCCESS1,SUCCESS2,SUCCESS3,SUCCESS4,ASCENT1,ASCENT2,ASCENT3,ASCENT4,CLAIMED,DISPUTED,COUNTRIES,APPROACH,BCDATE,SMTDATE,SMTTIME,SMTDAYS,TOTDAYS,TERMDATE,TERMREASON,TERMNOTE,HIGHPOINT,TRAVERSE,SKI,PARAPENTE,CAMPS,ROPE,TOTMEMBERS,SMTMEMBERS,MDEATHS,TOTHIRED,SMTHIRED,HDEATHS,NOHIRED,O2USED,O2NONE,O2CLIMB,O2DESCENT,O2SLEEP,O2MEDICAL,O2TAKEN,O2UNKWN,OTHERSMTS,CAMPSITES,ROUTEMEMO,ACCIDENTS,ACHIEVMENT,AGENCY,COMRTE,STDRTE,PRIMRTE,PRIMMEM,PRIMREF,PRIMID,CHKSUM,SEASON_FACTOR,HOST_FACTOR,TERMREASON_FACTOR
10416,EVER20101,EVER,2020,1,2,N Col-NE Ridge,,,,China,Tibetan Rope-Fixing,Tibetan Rope-Fixing Everest North 2020,True,False,False,False,,,,,False,False,,Lhasa->Tingri->Everest BC,None,2020-05-26,1515,0,0,None,1,,8849,False,False,False,3,0,0,0,0,6,6,0,False,True,False,True,False,True,False,False,False,,"BC,ABC,C1,C2,C3,Smt(26/05)",None,,,Holy Mountain Adventure,True,True,False,False,False,,2465291,Spring,China,Success (main peak)
10417,EVER20102,EVER,2020,1,2,N Col-NE Ridge,,,,China,Ci Luo (Tselo),Chinese Mount Everest Survey Team,True,False,False,False,,,,,False,False,,,None,2020-05-27,0945,0,0,None,1,,8849,False,False,False,3,0,12,8,0,0,0,0,False,True,False,True,False,True,False,False,False,,"BC,ABC,C1,C2,C3,Smt(27/05)",From www.mt8848.com:\r\n\r\nThe 2020 Mount Eve...,,,,True,True,False,False,False,,2465292,Spring,China,Success (main peak)
10418,EVER20103,EVER,2020,1,2,N Col-NE Ridge,,,,China,Tsering Samdrup,Holy Mountain Adventure Everest Expedition 2020,True,False,False,False,,,,,False,False,,Lhasa->Tingri->Everest BC,2020-04-23,2020-05-28,0545,35,38,2020-05-31,1,,8849,False,False,False,3,0,20,14,0,22,21,0,False,True,False,True,False,True,False,False,False,,"BC(23/04,5200m),IC(26/04,5800m),ABC(05/01,6500...","Expedition Itinerary:\r\n\r\n23 Apr, arrived a...",,,Holy Mountain Adventure,True,True,False,False,False,,2465293,Spring,China,Success (main peak)
10515,AMAD20301,AMAD,2020,3,1,SW Ridge,,,,Nepal,Chhang Dawa Sherpa,Seven Summit Treks Ama Dablam Expedition 2020,True,False,False,False,,,,,False,False,"Canada, Czech Republic, France, Poland, Russia...",,2020-11-09,2020-11-10,1300,1,0,None,1,,6814,False,False,False,2,0,14,9,0,19,14,0,False,False,True,False,False,False,False,False,False,,"BC(09/11,4450m),C1(5600m),C2(5900m),Smt(10,12-...",None,,,Seven Summit Treks,True,False,False,False,False,,2463299,Autumn,Nepal,Success (main peak)
10516,AMAD20302,AMAD,2020,3,1,SW Ridge,,,,USA,Garrett Madison,Madison Mountaineering Ama Dablam Expedition 2020,True,False,False,False,,,,,False,False,"Canada, Qatar",Lukla->Pangboche->Ama Dablam BC,2020-11-01,2020-11-10,1300,9,11,2020-11-12,1,,6814,False,False,False,2,0,6,6,0,8,8,0,False,False,True,False,False,False,False,False,False,,"BC(01/11,4700m),C1(04/11,5600m),C2(10/11,6000m...","On summit day, team left high camp around 1:30...",,,Himalayan Guides,True,False,False,False,False,,2463299,Autumn,Nepal,Success (main peak)

In [102]:
# 1. What is the distribution of climbing status (PSTATUS) across the different mountain ranges (HIMAL_FACTOR)?

print(peaks_tidy['PSTATUS'].unique())
# PSTATUS appears to be a categorical/binary variable (1, 2).
# I need to check the documentation to confirm what each code represents
# (e.g., success vs. failure, or other status categories).

print(peaks_tidy['HIMAL_FACTOR'].unique())
# HIMAL_FACTOR contains the names of mountain ranges.
# Some names include slashes because they refer to combined or adjacent sub-ranges.

# Next step: group PSTATUS by HIMAL_FACTOR to see how climbing status varies
# across mountain ranges (e.g., using a crosstab or histogram).

[2 1]
['Khumbu' 'Annapurna' 'Api/Byas Risi/Guras' 'Manaslu/Mansiri' 'Langtang'
 'Damodar' 'Nalakankar/Chandi/Changla' 'Ganesh/Shringi' 'Peri' 'Rolwaling'
 'Dhaulagiri' 'Kangchenjunga/Simhalila' 'Mukut/Mustang' 'Jugal' 'Jongsang'
 'Saipal' 'Kanjiroba' 'Makalu' 'Janak/Ohmi Kangri' 'Kanti/Palchung']

In [103]:
table = (pd.crosstab
 (
    peaks_tidy['HIMAL_FACTOR'], # index: unique values become the ROWS of the table
    peaks_tidy['PSTATUS'], # columns: unique values become the COLUMNS of the table
    normalize='index'
    ).mul(100).round(2)
 )

table.sort_values(by=1, ascending=False, inplace=True)

# PSTATUS: 1 = Unclimbed, 2 = Climbed
# Among the mountain ranges, Kanti/Palchung has the highest proportion of unclimbed peaks,
# suggesting climbers were less successful there. Conversely, Damodar has the highest success rate,
# making it the most frequently summited range.

table

PSTATUS                        1      2
HIMAL_FACTOR
Kanti/Palchung             66.67  33.33
Api/Byas Risi/Guras        61.11  38.89
Saipal                     50.00  50.00
Janak/Ohmi Kangri          46.67  53.33
Ganesh/Shringi             45.00  55.00
Makalu                     33.33  66.67
Nalakankar/Chandi/Changla  29.41  70.59
Jongsang                   28.57  71.43
Kangchenjunga/Simhalila    26.67  73.33
Kanjiroba                  23.08  76.92
Dhaulagiri                 20.00  80.00
Peri                       20.00  80.00
Manaslu/Mansiri            19.05  80.95
Jugal                      18.18  81.82
Khumbu                     15.19  84.81
Langtang                   14.29  85.71
Mukut/Mustang              13.33  86.67
Annapurna                   7.14  92.86
Rolwaling                   6.25  93.75
Damodar                     3.70  96.30

In [104]:
#Create a horizontal dot plot using Plotly to illustrate this distribution.

In [105]:
# 2. Which mountain range (HIMAL_FACTOR) has the highest average peak height (HEIGHTM)?

with pd.option_context('display.max_colwidth', None):
    display(peaks_tidy.groupby('HIMAL_FACTOR')['HEIGHTM'].unique())

# This shows that climbers have summited peaks of varying heights within each mountain range.
# Even within the same range, the difficulty and height of climbed peaks differ, so not all HIMAL_FACTOR ranges are equivalent.

HIMAL_FACTOR
Annapurna                                                                                                                                                                                                                                                                                                                          [8091, 7937, 7555, 7525, 8026, 8051, 7219, 7647, 6248, 7455, 7168, 6434, 6983, 6993, 5553, 6940, 7061, 6839, 7485, 6501, 5695, 7134, 6484, 6144, 7140, 6698, 7069]
Api/Byas Risi/Guras                                                                                                                                                                                                                                                                                                                                                                      [7132, 7076, 6808, 6850, 6729, 6609, 6468, 6564, 6585, 6611, 6130, 6423, 6638, 6395, 6744, 6644, 6388, 6189]
Damodar                                                                                                                                                                                                                                                                                                                                              [6476, 6584, 6419, 6091, 6110, 6328, 6372, 6500, 6393, 6704, 6335, 6759, 6650, 6482, 6126, 6111, 6355, 6899, 6361, 5606, 5921, 6019, 6425, 6452]
Dhaulagiri                                                                                                                                                                                                                                                                                                                                           [7385, 8167, 7751, 7715, 7661, 7618, 7268, 6536, 7187, 6529, 6465, 7193, 7133, 6380, 7246, 6530, 6920, 6395, 7371, 6294, 6570, 6273, 6384, 6182]
Ganesh/Shringi                                                                                                                                                                                                                                                                                                                                                               [7165, 7422, 7043, 7118, 7104, 6770, 6908, 5903, 6648, 6350, 6049, 6065, 7161, 6863, 6426, 6300, 6210, 6169, 6056, 6177]
Janak/Ohmi Kangri                                                                                                                                                                                                                                                                                                [6839, 6300, 6433, 6581, 6670, 6355, 6792, 6744, 7041, 6842, 6803, 6547, 6404, 6466, 6244, 6206, 6196, 6209, 5929, 6260, 6318, 6070, 6164, 6328, 6220, 6172, 6158, 6076, 6044, 6557]
Jongsang                                                                                                                                                                                                                                                                                                                                                                                                               [6881, 7462, 6965, 7177, 7140, 6825, 7362, 6215, 7264, 6786, 7447, 6857, 6868]
Jugal                                                                                                                                                                                                                                                                                                                                                            [6865, 6966, 6378, 6889, 6733, 5863, 6979, 6412, 6799, 6637, 6143, 6484, 6535, 6632, 6151, 6743, 6593, 6591, 6518, 6184, 5936, 5922]
Kangchenjunga/Simhalila                                                                                                                                                                                                                                                                                                [6447, 7007, 7350, 7711, 6600, 7338, 7902, 8473, 8586, 8476, 6148, 6682, 7349, 6808, 8505, 6601, 6802, 6114, 6024, 7318, 7412, 6645, 6652, 6334, 8077, 7938, 7780, 7460, 7590]
Kanjiroba                                                                                                                                                                                                                                                                                                                                [5767, 5806, 5761, 5978, 6521, 6471, 6627, 6612, 6858, 6883, 6444, 6412, 6450, 6139, 5911, 6553, 6556, 6227, 6085, 6045, 5910, 6111, 6386, 6207, 6102, 6518]
Kanti/Palchung                                                                                                                                                                                                                                                                                                                                                               [6850, 6024, 6528, 6439, 6405, 6103, 5965, 6310, 6305, 6623, 6516, 6455, 6449, 6329, 6276, 6275, 6264, 6236, 6043, 6419]
Khumbu                       [6814, 5630, 7152, 7321, 8188, 6423, 6700, 7583, 8849, 7861, 6833, 6165, 6043, 5798, 6783, 6370, 8516, 6119, 6135, 8382, 6470, 6207, 7743, 7916, 7864, 6739, 5850, 5780, 6340, 7138, 7591, 7457, 6495, 6618, 7350, 6713, 5550, 6573, 8410, 7029, 5833, 6635, 6648, 6151, 6792, 6658, 6770, 6159, 6639, 7012, 7795, 6740, 7287, 6736, 6295, 6017, 6576, 6202, 6730, 6942, 6861, 6859, 6710, 6063, 6572, 6985, 6213, 6764, 6500, 6064, 7681, 7732, 5710, 6070, 5608, 6822]
Langtang                                                                                                                                                                                                                                                                                                                                                                                                         [6150, 7227, 7205, 6596, 6707, 6567, 6599, 6506, 5890, 6185, 6174, 6781, 6048, 6264]
Makalu                                                                                                                                                                                                                                                                                                                                                                                                                                         [7678, 8485, 6893, 6758, 6432, 6422, 6388, 6682, 6374]
Manaslu/Mansiri                                                                                                                                                                                                                                                                                                                                                        [6672, 7893, 7331, 6693, 7540, 8163, 6994, 7871, 6251, 6538, 7059, 6620, 6504, 6335, 6180, 6473, 6363, 6264, 6235, 6186, 6416]
Mukut/Mustang                                                                                                                                                                                                                                                                                                                                                                                              [6012, 6556, 6087, 6611, 6187, 6034, 6386, 6343, 6229, 6060, 6344, 6195, 6235, 6110, 6248]
Nalakankar/Chandi/Changla                                                                                                                                                                                                                                                                                                                                                                                  [6563, 6062, 6024, 6130, 6395, 6721, 6369, 6254, 6628, 6265, 6142, 6055, 6034, 6198, 6581]
Peri                                                                                                                                                                                                                                                                                                                                                                         [6820, 7074, 7126, 6981, 7140, 7035, 7092, 6905, 6694, 6530, 6932, 6767, 6687, 6602, 6580, 6524, 6296, 6621, 6165, 6145]
Rolwaling                                                                                                                                                                                                  [6686, 6258, 6757, 7135, 6530, 6790, 6186, 6958, 6625, 6279, 6344, 5900, 6482, 6257, 6938, 6719, 6659, 6687, 6771, 6400, 6249, 6737, 6552, 6778, 6196, 6647, 6895, 6492, 6812, 6478, 6224, 6220, 6152, 6332, 6109, 7010, 6664, 6326, 6166, 6125, 6675, 5738, 6141, 6093, 6035, 6645, 6445]
Saipal                                                                                                                                                                                                                                                                                                                                                                                                                                                           [6730, 6745, 6925, 7030, 5407, 6015]
Name: HEIGHTM, dtype: object

In [106]:
peaks_count = peaks_tidy.groupby('HIMAL_FACTOR')['HEIGHTM'].count()
peaks_count.sort_values(ascending = False, inplace = True)
peaks_count

# I thought to check the unique combination of peaks and values because this would directly influence the average. Typical EDA.
# The number of peaks varies significantly across mountain ranges.
# Khumbu has the most recorded peaks (79), while Saipal has the fewest (7),
# highlighting differences in peak density and exploration across regions.

HIMAL_FACTOR
Khumbu                       79
Rolwaling                    48
Janak/Ohmi Kangri            30
Kangchenjunga/Simhalila      30
Annapurna                    28
Damodar                      27
Kanjiroba                    26
Dhaulagiri                   25
Jugal                        22
Manaslu/Mansiri              21
Kanti/Palchung               21
Peri                         20
Ganesh/Shringi               20
Api/Byas Risi/Guras          18
Nalakankar/Chandi/Changla    17
Mukut/Mustang                15
Jongsang                     14
Langtang                     14
Makalu                        9
Saipal                        6
Name: HEIGHTM, dtype: int64

In [ ]:
# Create plot for distribution of number of peaks.

In [107]:
peaks_mean = peaks_tidy.groupby('HIMAL_FACTOR')['HEIGHTM'].mean().astype(int)
peaks_mean.sort_values(ascending = False, inplace = True)
peaks_mean

# Among the mountain ranges, Kangchenjunga/Simhalila has the highest average peak height at 7,237 meters,
# indicating that climbers attempting peaks in this range face greater elevation challenges compared to other ranges.

HIMAL_FACTOR
Kangchenjunga/Simhalila      7237
Annapurna                    7058
Jongsang                     7007
Dhaulagiri                   6980
Makalu                       6901
Manaslu/Mansiri              6789
Khumbu                       6773
Peri                         6735
Api/Byas Risi/Guras          6610
Ganesh/Shringi               6595
Jugal                        6497
Langtang                     6492
Saipal                       6475
Rolwaling                    6471
Janak/Ohmi Kangri            6398
Damodar                      6347
Kanti/Palchung               6325
Nalakankar/Chandi/Changla    6302
Kanjiroba                    6282
Mukut/Mustang                6242
Name: HEIGHTM, dtype: int64

In [109]:
peaks_median = peaks_tidy.groupby('HIMAL_FACTOR')['HEIGHTM'].median().astype(int)
peaks_median.sort_values(ascending = False, inplace = True)
peaks_median

# I decided to use the median rather than the mean because, before exploring the data,
# I intuitively felt that ranges with many peaks (e.g., 75+) versus very few peaks (e.g., 6)
# might not be directly comparable, and the median gives a more robust central value in such cases.

# The median peak heights are generally higher than the mean for several ranges,
# indicating that a few lower peaks are pulling the averages down (leftward skew). Median
# provides a better sense of the "typical" peak in each range, especially for
# ranges with extreme height variations like Dhaulagiri and Saipal. For
# Kangchenjunga/Simhalila, the mean is 7237, median 7328 — fairly close.

# For Dhaulagiri, mean 6980 vs median 7133 — that’s a notable difference (~150 meters).
# This suggests there are some lower peaks in the dataset pulling the mean down, but the typical peak is higher.
# For Saipal, mean 6475 vs median 6737 — this is a bigger relative difference (~260 meters),
# showing a small number of very low peaks are skewing the mean downward.

HIMAL_FACTOR
Kangchenjunga/Simhalila      7328
Dhaulagiri                   7133
Annapurna                    7101
Jongsang                     6923
Saipal                       6737
Peri                         6730
Khumbu                       6710
Makalu                       6682
Api/Byas Risi/Guras          6610
Jugal                        6563
Manaslu/Mansiri              6538
Ganesh/Shringi               6537
Langtang                     6536
Rolwaling                    6480
Damodar                      6372
Janak/Ohmi Kangri            6323
Kanti/Palchung               6310
Kanjiroba                    6306
Nalakankar/Chandi/Changla    6254
Mukut/Mustang                6229
Name: HEIGHTM, dtype: int64

In [ ]:
# Create plot for distribution of median height of peaks.

In [119]:
peak_stats = pd.concat([peaks_mean, peaks_median], axis=1)
peak_stats.columns = ['Mean_Height', 'Median_Height']
peak_stats['Height_Difference'] = peak_stats['Median_Height'] - peak_stats['Mean_Height']
peak_stats['Height_Difference_Percent'] = ((peak_stats['Height_Difference'] / peak_stats['Mean_Height'])).mul(100)
peak_stats.sort_values(by='Median_Height', ascending=False, inplace=True)
peak_stats

# The mean and median heights are similar for most ranges, but Saipal and Manaslu/Mansiri
# show the largest relative differences, indicating a few extreme peaks strongly
# influence the mean. Most other ranges have minor skew (<2%), suggesting peak
# heights are relatively balanced.

,Mean_Height,Median_Height,Height_Difference,Height_Difference_Percent
HIMAL_FACTOR,,,,
Kangchenjunga/Simhalila,7237,7328,91,1.257427
Dhaulagiri,6980,7133,153,2.191977
Annapurna,7058,7101,43,0.609238
Jongsang,7007,6923,-84,-1.198801
Saipal,6475,6737,262,4.046332
Peri,6735,6730,-5,-0.074239
Khumbu,6773,6710,-63,-0.930164
Makalu,6901,6682,-219,-3.173453
Api/Byas Risi/Guras,6610,6610,0,0.000000
Jugal,6497,6563,66,1.015853
Manaslu/Mansiri,6789,6538,-251,-3.697157
Ganesh/Shringi,6595,6537,-58,-0.879454
Langtang,6492,6536,44,0.677757
Rolwaling,6471,6480,9,0.139082
Damodar,6347,6372,25,0.393887
Janak/Ohmi Kangri,6398,6323,-75,-1.172241
Kanti/Palchung,6325,6310,-15,-0.237154
Kanjiroba,6282,6306,24,0.382044
Nalakankar/Chandi/Changla,6302,6254,-48,-0.761663
Mukut/Mustang,6242,6229,-13,-0.208267

In [111]:
# 3. What is the distribution of peak heights (HEIGHTM) for peaks that are open (OPEN) versus not open?
# 4. Which climbing routes (ROUTE1, ROUTE2, ROUTE3, ROUTE4) have the highest success rates (SUCCESS1, SUCCESS2, SUCCESS3, SUCCESS4) across all expeditions?
# 5. How does the use of supplemental oxygen (O2USED, O2NONE) affect summit success rates?
# 6. How often does bad weather (TERMREASON = 4) cause termination compared to technical difficulty (TERMREASON = 10)?
# 7. Are expeditions with no hired personnel (NOHIRED) associated with higher or lower death rates?